body {
	font-family: Optima, sans-serif;
	background: #fff;
	color: #000;
}

a {
	outline: none;
}

.address {
	margin: 1em 0;
}

.address p {
	margin: 0 1em;
}

dl {
	margin: 1em;
}

dt {
	font-weight: bold;
}

dd {
	margin: .25em 1em 2em 1em;
}

h1 {
	font-size: 1.75em;
	font-weight: normal;
	margin: 0 0 10px 0;
}

h2 {
	color: #353;
	font-size: 1.5em;
	margin: 0 0 .5em 0;
}

h3 {
	color: #353;
	font-size: 1.25em;
	margin: 0 0 .5em 0;
}

p {
	text-indent: 1em;
	margin: 0 0 1em 0   ;
}

ul {
	margin: 1em 3em;
	list-style: disc outside;
}

ul.messages {
	font-size: .9em;
	font-style: italic;
	list-style: none;
	padding: 1em .5em;
	background: #ff9;
}

ul.messages li {
	background: url(../images/information.png) no-repeat top left;
	padding-left: 16px;
}

form ul {
	list-style: none;
}

.clear {
	float: none;
	clear: both;
}

div#wrapper {
	width: 36em;
	margin-left: 204px;
	margin-right: 1em;
	border-top: 10px solid #353;
}

div#content {
  float: none;
  class: clear;
	margin: 1em;
	padding: 0;
}

ul#nav {
	float: left;
	list-style: none;
	margin: 0;
	padding: .25em 0;
	width: 90%;
	font-size: .9em;
}

ul#nav li {
	float: left;
	padding: 0;
	margin: 0;
}

ul#nav a {
	margin: .25em 1.5em .25em 0;
	display: block;
	color: #8a9;
	text-decoration: none;
	border-bottom: 1px solid #fff;
}

ul#nav a:hover,
body.about a#about,
body.contact a#contact,
body.home a#home,
body.services a#services {
	border-bottom: 1px solid #8a9;
}


div#footer {
	text-align: right;
	padding: 1em 0 0 0;
	white-space: nowrap;
}

div#footer span {
	font-size: .9em;
	margin: 0 1.25em 0 0;
}

div#footer img {
	position: relative;
	top: 2px;
}

form {
	margin: 0 1em;
}

.hpst {
	position: absolute;
	left: -5000em;
}

ul.form {
	list-style: none;
	margin: 0;
	padding: 0;
}

label {
	display: block;
	clear: both;
	margin: .5em .5em 0 .5em;
}

button, .button {
	font-weight: bold;
	margin: 2px;
	cursor: pointer;
}

input,
textarea {
	margin: .25em .25em .25em 2em;
}

.error {
	color: #FABE1C;
	font-weight: bold;
	font-style: italic;
}

ul.errorlist {
	list-style-image: url(../images/error.png);
	color: #FABE1C;
	font-size: .9em;
	font-style: italic;
	margin: 0 4em;
	padding: 0;	
}

table {
	width: 100%;
	border: 1px solid #999;
	border-spacing: 0;
	border-collapse: collapse;
	margin: 1em 0;
}

table caption {
	text-align: left;
	margin: 0;
}

th {
	border: 1px solid #999;
	text-align: left;
	background: #353;
	background-position: 100% 2px;
	background-repeat: no-repeat;
	border-right: 1px solid #999;
	color: #fff;
	font-weight: normal;
	padding: .1em 10px .1em .25em;
}

th, td {
	text-align: left;
}

th.sortable {
	cursor: pointer;
	background-image: url(../images/sortable.png);
}

th.sortedDesc {
	background-image: url(../images/bullet_arrow_down.png);
}

th.sortedAsc {
	background-image: url(../images/bullet_arrow_up.png);
}

tr.odd td {
	background: #cdc;
}

td {
	font-size: .8em;
	border-right: 1px solid #999;
	padding: .1em .5em;
}

td.nowrap {
	white-space: nowrap;
}

th.action {
	text-align: center;
}

td.action input {
	margin: 0;
	padding: 0;
}

.steps {
	margin: 2em 1em 3em 1em;
}

.steps input {
	margin: 0 .25em;
}

.step {
	font-size: 2em;
	position: relative;
	top: .1em;
	color: #8a9;
}

#progress_container {
	font-size: .9em;
	width: 100%;
	height: 1.25em;
	position: relative;
	margin: 3em 0;
	display: none;
}

#progress_filename {
	font-size: .9em;
	width: 100%;
}

#progress_bar {
	width: 100%;
	border: 1px solid #999;
}

#progress_indicator {
	background: #8a9;
	width: 0;
	height: 4px;
}
